# This workflow will build and publish the final artifact
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Finalization

on:
  push:
    branches:
      - master

jobs:
  release:
    env:
      CLONE_URL: ${{ github.event.pull_request.base.repo.clone_url }}
      BRANCH_NAME: ${{ github.head_ref }}
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: "Checkout"
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: "Derive and set version"
        env:
          TMPDIR: "/home/runner/work/_temp"
        run: |
          git config --global user.email ${{ secrets.GIT_USER_EMAIL }}
          git config --global user.name ${{ secrets.GIT_USER_NAME }}
          # fetch tags
          git fetch --tag
          # set version
          lastTag=$( git tag -l | tail -1 )
          IFS='.' read -r X Y Z <<< "$lastTag"
          X="${X//v/}"    # tag version to pom version
          Z=$((Z+1))
          mvn versions:set -DnewVersion="$X.$Y.$Z" > "$TMPDIR/mvn-version.log"
          echo "Version updated"
          # compile
          mvn compile > "$TMPDIR/mvn-compile.log" || {
            cat "$TMPDIR/mvn-compile.log"
            exit $FILENO
          }
          # checkout milestones branch
          BRANCH_NAME="rel_v$X.$Y.$Z"
          git checkout -b "$BRANCH_NAME"
          # commit
          git add .
          git commit -m "v$X.$Y.$Z"
          # tag
          git tag "v$X.$Y.$Z"
          # push
          git push --set-upstream origin "$BRANCH_NAME" --force
          git push --tags
          # delete branches
          git checkout master
          git push -d origin "$BRANCH_NAME"
          git branch -D "$BRANCH_NAME"

      - name: "Build final artifact"
        run: |
          echo "Build final artifact"
      - name: "Publish final artifact"
        run: |
          echo "Publish final artifact"
